Hypothesis Test: Product Launch Performance
Business Question

Do products generate higher monthly revenue in their first 6 months after launch compared to months 6–12?

Hypotheses

H₀: Average monthly revenue in months 0–6 = months 6–12
H₁: Average monthly revenue in months 0–6 is higher

Data

Monthly product revenue was extracted using SQL and grouped into two lifecycle stages:

first_6mnt → months 0–6

above_6 → months 6–12

Each row represents revenue for one product in one month.

Method

Welch’s two-sample t-test is used to compare the two groups because:

Variances are unequal

Sample sizes differ

Population variance is unknown

Decision Rule

At α = 0.05:

p-value < 0.05 → Reject H₀

p-value ≥ 0.05 → Fail to reject H₀

In [55]:
import pandas as pd
from scipy.stats import ttest_ind

In [18]:
df=pd.read_csv("lifestyle.csv")

In [41]:
group1=df[df["lifecycle"]=="first_6mnt"]["revenue"]
group2=df[df["lifecycle"]=='above_6']["revenue"]

In [48]:
n1=group1.count()
n2=group2.count()

In [51]:
print("n1:", len(group1))
print("n2:", len(group2))
print("mean1:", group1.mean())
print("mean2:", group2.mean())
print("std1:", group1.std())
print("std2:", group2.std())

# Welch’s t-test (correct for unequal variances)
t_stat, p_val = ttest_ind(group1, group2, equal_var=False)

print("t-stat:", t_stat)
print("p-value:", p_val)

n1: 119
n2: 124
mean1: 5957.512605042017
mean2: 5990.580645161291
std1: 4629.796437055153
std2: 5021.909998605499
t-stat: -0.053397407687860866
p-value: 0.9574595768185865

In [52]:
alpha=0.005
if(p_val<=alpha):
    print("null hypothesis rejected")
else:
    print("failed to acccept the null hypothesis")

failed to acccept the null hypothesis